<div class="menu" (click)="menuClicked($event)">
    <div class="main-menu">
        <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true}">
            <ul class="list-unstyled">
                <li *ngFor="let item of menuItems"
                    [ngClass]="{'active': (selectedParentMenu === item.route && viewingParentMenu === '') || viewingParentMenu === item.route}">
                    <a *ngIf="isMenuItemVisible(item)&&item.children &&  item.children.length>0"
                        (click)="openSubMenu($event,item); false" [href]="item.route">
                        <i [ngClass]="item.icon"></i> {{item.label | localize}}</a>
                    <a *ngIf="isMenuItemVisible(item)&&(!item.children || (item.children &&  item.children.length===0))"
                        (click)="changeSelectedParentHasNoSubmenu(item.route); false" [href]="item.route">
                        <i [ngClass]="item.icon"></i> {{item.label | localize}}</a>
                </li>
            </ul>
        </perfect-scrollbar>
    </div>
    <div class="sub-menu">
        <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true}">
            <ul class="list-unstyled" *ngFor="let item of menuItems" [attr.data-parent]="item.route"
                [ngClass]="{'d-block': (selectedParentMenu === item.route && viewingParentMenu==='') || viewingParentMenu === item.route}">
                <li *ngFor="let sub of item.children"
                    [ngClass]="{'active': currentUrl === sub.route ,'has-sub-item' : sub.children&& sub.children.length>0 }">
                    <a *ngIf="isMenuItemVisible(item)&&sub.newWindow" [href]="sub.route" rel="noopener noreferrer"
                        target="_blank">
                        <i [ngClass]="sub.icon"></i>
                        <span class="d-inline-block">{{sub.label | localize}}</span>
                    </a>
                    <a *ngIf="isMenuItemVisible(item)&&!sub.newWindow && (!sub.children || sub.children.length<=0)"
                        [href]="[sub.route]" routerLinkActive="active">
                        <i [ngClass]="sub.icon"></i>
                        <span class="d-inline-block">{{sub.label | localize}}</span>
                    </a>
                    <a (click)="toggleCollapse(sub.route)"
                        *ngIf="isMenuItemVisible(item)&&sub.children && sub.children.length > 0"
                        [ngClass]="{'rotate-arrow-icon opacity-50 c-pointer': true, 'collapsed': closedCollapseList.includes(sub.route)}">
                        <i class="simple-icon-arrow-down"></i>
                        <span class="d-inline-block">{{sub.label | localize}}</span>
                    </a>
                    <div [collapse]="closedCollapseList.includes(sub.route)" [isAnimated]="true">
                        <div *ngIf="sub.children && sub.children.length > 0">
                            <ul class="list-unstyled inner-level-menu">
                                <li *ngFor="let deepSub of sub.children"
                                    [ngClass]="{'active': currentUrl === deepSub.route}">
                                    <a *ngIf="isMenuItemVisible(item)&&deepSub.newWindow" [href]="deepSub.route"
                                        rel="noopener noreferrer" target="_blank">
                                        <i [ngClass]="deepSub.icon"></i>
                                        <span class="d-inline-block">{{deepSub.label | localize}}</span>
                                    </a>
                                    <a *ngIf="isMenuItemVisible(item)&&!deepSub.newWindow && (!deepSub.children || deepSub.children.length<=0)"
                                        [href]="[deepSub.route]" routerLinkActive="active">
                                        <i [ngClass]="deepSub.icon"></i>
                                        <span class="d-inline-block">{{deepSub.label | localize}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
            </ul>
        </perfect-scrollbar>
    </div>
</div>